@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'California';
    src: url('fonts/dealerplate\ california.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor0: #9B9987;
    --cor1: #343434;
    --cor2: #0F2A4D;
    --cor3: #2970CC;
    --cor4: #73A4E6;
    --cor5: #9FFFF5;
    --cor6: #82FF9E;

    --fonte-padrao: 'Work Sans', Arial, Helvetica, sans-serif;
    --fonte-especial: 'Press Start 2P', 'Times New Roman', Times, serif;
    --fonte-especial2: 'Phudu', 'Times New Roman', Times, serif;
}

* {
    font-family: var(--fonte-padrao);
    padding: 0px;
    margin: 0px;
}

body{
    background-color: var(--cor0);
}

header {
    padding: 20px;
    margin: 0px 0px 0px 0px;
    background-image: linear-gradient(to bottom, #73A4E6, #2970CC, #0F2A4D);
}

header h1 {
    font-family: var(--fonte-especial);
    color: black;
    font-weight: bolder;
    font-size: min(48px, 7vw);
    text-align: center;
    text-shadow: 2px 2px 0px white;
    padding: 10px;
}

main {
    background-color: white;
    max-width: 900px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    padding: 15px;
    margin: auto;
    text-align: center;
}

main .perfil {
    border-radius: 50%;
    margin: 25px 0px;
    
}

main p {
    font-size: 18px;
    text-align: justify;
    text-indent: 30px;
    line-height: 25px;
    padding: 5px;
}

main > p > a {
    color: var(--cor2);
    text-decoration: none;
}

main > p > a::after {
    content: '\00A0\1F517';
}

main > p > a:hover {
    text-decoration: underline;
}

main h2 {
    background-image: linear-gradient(to right, transparent, #0F2A4D, transparent);
    font-family: var(--fonte-especial2);
    color: white;
    font-size: 26px;
    font-weight: normal;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    padding: 5px 10px;
    margin: 10px -15px;
}

main .skills {
    padding: 25px 0px;
}

footer {
    background-color: black;
    color: white;
    padding: 30px;
}

footer a {
    color: white;
    text-decoration: none;
}



footer h2 {
    padding: 5px;
}

div.link-img {
    display: flex;
    padding: 5px;
    position: relative;
}

div.link-img > p {
    position: absolute;
    top: 10px;
    left: 45px;
}

div.link-img > p > a:hover {
    font-weight: bold;
}

footer > p {
    padding: 5px;
}
