@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
    font-family: 'California';
    src: url('fonts/California\ Paradise.otf') format('opentype');
    font-weight: bolder;
    font-style: normal;
}

* {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

body{
    background-color: #307EFC;
}

main {
    background-color: #DBDBDB;
    border-radius: 15px;
    max-width: 900px;
    padding: 15px;
    margin: auto;
    text-align: center;
    box-shadow: 10px 10px 10px black;
}

main h1 {
    min-width: 280px;
}

p {
    text-align: justify;
}

h1 {
    font-family: 'Press Start 2P', 'Times New Roman', Times, serif;
    color: #404E4D;
    font-weight: bolder;
    font-size: 40px;
    text-shadow: 2px 2px 0px black;
    
}

h2 {
    font-size: 26px;
}
